  /* is this needed?????!!!!!!!!!!!!!!
  @-ms-viewport{
    width: device-width;
  }
  */

  body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Alegreya Sans SC', serif; /*double check first font*/
    /*background-image: url("https://luissolano01.github.io/homework6-2021/images/concrete_seamless.png");*/
    background-image: url("../images/concrete_seamless.png"); 
    background-color: #f1f1f1;
    /*align-content: center;*/
  
  }

  .nav_links{
    display:flex;
    align-items: center;
    flex-direction: column;   /* is any of this needed??? section 3; is there anything missing? */
    
  }

  

  header{
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    
    justify-content: center; /* IS THIS NEEDED?; section 3  */
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  .nav_item a{
    padding: 10px;
    /*color:inherit;   */
     
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .pricing{
    
    min-height: 475px;

    display:flex; 
    align-items: center;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;


  }

  .card {
    display:flex;
    
    flex-direction: column; 
    /*justify-content: center;   i added the lines above */
    
    /* card card_big is different size; section 6 */
    
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 25px 0;
    /*flex-basis: 450px;   /* adds space on CARDS!!!!!!!!!!!*/
    flex-basis: 450px;
  }

  .card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;


  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  .card_big{
    -webkit-transform: initial;
            transform: initial;
  }
 
  /*.gallery {    added img!!!!!!
    min-height: 600px;
    margin: 10px 10px 10px 10px;
    width: 300px;
    /*flex-basis: auto;
    display:flex;
  }*/
  
  .gallery{
    /*display:flex;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    /*align-content: center;*/
    /*align-items: center;*/
    /* images are stretched for some reason !!!!!!!!*/
    
  }

  .gallery img{    /*added img!!!!!!*/
    min-height: 600px;
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
    /*flex-basis: auto;*/
    /*align-items: center;*/
    /*align-self: center;*/

    /*display: flex; */
    
    /*justify-content: space-evenly; */

  }

  
  
  /*div {
    
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;

    animation-duration: 5s;
    
  }
  
  @keyframes img #logo {
    from {background-color: red;}
    to {background-color: yellow;}

  }*/

  /*@keyframes #logo{
    /* changes logo image style
    animation-duration: 5s;
    animation-name:;
    stop-opacity: 1;
  }
 */
  #logo{
    animation-duration: 5s;
    animation-name: fade_in;

  }

  @keyframes fade_in{
    from{opacity:0}
    to {opacity:1}
    from{width: 50px}
    to{width: 425px}
    /* NO REPEAT BY DEFAULT???????????*/
  }




  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }



  @media screen and (min-width: 850px){
    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
    }
    header{
      background: #fff;
      border-bottom: 3px solid #50C7C7;
      display:flex;
      
      flex-direction:row;
      
      
      /*justify-content: center;  IS THIS NEEDED?; section 3  */
      /*background-color: black;*/
    }

    #logo{
      margin-right:auto; /* takes care of spacing*/

    }
    .nav_links{
      display:flex; 
      margin-left:auto;
      /*display:flex;*/
      
      
      /*align-items:baseline;*/
      /* flex-direction: column*/
         /* is this needed??? section 3; is there anything missing? */
      /*justify-content: center;*/
      /*flex-direction:row;
      justify-content: right;

      align-items:flex-end;*/
      flex-direction: row;
      
    }

  
    .pricing{
    
      min-height: 475px;
      display:flex; 
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; 
  
  
    }
    /*
    min-height: 475px;

    display:flex; 
    align-items: center;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;


    }*/
    .card {
        display:flex;
        
        flex-direction: column; 
        /*justify-content: center;   i added the lines above */
        
        /* card card_big is different size; section 6 */
        
        margin: 12px;
        background: #fff;
        border-radius: 7px;
        padding: 0 0 25px 0;
        /*flex-basis: 450px;   /* adds space on CARDS!!!!!!!!!!!*/
        flex-basis: 250px;
      }

  }

    
    @media print{
      
      .nav_links{
        display:flex;
        flex-direction: row;
        justify-content: space-around;  /* double check spacing !!!!!!!!*/

      }  
      #gallery{
        display:none;
      }
      .gallery{
        display: none;
      }
      body{
        background-image: none;
      }
      .card{
        border: 2px solid #45ADDD;
        flex-basis: 250px;
        margin-top: auto;
      }
      .card_big{
        margin-top: auto;
      }
      .pricing{
        flex-direction: row;
      }
      
    }
    @media (prefers-reduced-motion: reduce){
        #logo{
          animation:none;
        }
      }
  
